#gray {
    position: fixed;
    background-color: rgba(0,0,0,0.9);
    width: 100vw;
    height: 100vh;
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#modalBody {
    margin-top: -40px;
    width: 600px;
    max-width: 95vw;
    height: 400px;
    max-height: 95vh;
    background-color: black;
    border-color: rgb(72, 254, 12);
    border-width: 2px;
    border-style: solid;
    position: relative;
}

#withdrawTitle {
    font-size: 20px;
    margin-left: 20px;
    margin-top: 15px;
}

#funds {
    margin-left: 20px;
}

#inputArea {
    position: absolute;
    margin-left: 10%;
    margin-top: 10%;
}

#closeButton {
    position: absolute;
    right: 20px;
    bottom: 5px;
    font-size: 25px;
}

#sendButton {
    position: absolute;
    right: 100px;
    bottom: 5px;
    font-size: 25px;
    color: rgb(72, 254, 12);
}

#closeButton, #sendButton:hover {
    cursor: pointer;
}