/* Nav Bar */
#nav {
  background-color: black;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  font-family: "Orbitron", sans-serif;

}

a:-webkit-any-link {
  cursor: pointer;
  text-decoration: none;
}

.navButton {
  height: 40px;
  margin-right: 20px;
  border-radius: 8px;
  border-color: rgb(72, 254, 12);
  border-style: solid;
  border-width: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  color: rgb(72, 254, 12);
  letter-spacing: 0.05em;
}

.navButton:hover {
  cursor: pointer;
}

.inline {
  display: inline-block;
}

.nav-links {
  margin-right: 30px;
  display: flex;
  align-items: center;
}

#logoMain {
  color: var(--green);
  font-size: 1.8rem;
  /* animation: flicker 4s infinite alternate; */
  letter-spacing: 0.05em;
  margin-left: 30px;
}

#logoMain::-moz-selection {
  color: var(--neon-text-color);
}

#logoMain::selection {
  color: var(--neon-text-color);
}

#logoMain:focus {
  outline: none;
}

#logoMain:hover {
  cursor: pointer;
}

/* Animate neon flicker */
@keyframes flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: -0.2rem -0.2rem 1rem rgb(32, 255, 3),
      0.2rem 0.2rem 1rem rgb(7, 253, 27), 0 0 2rem var(--neon-text-color),
      0 0 4rem var(--neon-text-color), 0 0 6rem var(--neon-text-color),
      0 0 8rem var(--neon-text-color), 0 0 10rem var(--neon-text-color);
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #5DE900;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  /* border-radius: 34px; */
  border-radius: 6px;
}

.slider.round:before {
  /* border-radius: 50%; */
  border-radius: 6px;
}

.sliderTitle {
  color: #5DE900;
  position: absolute;
  bottom: -21px;
  left: 12px;
}

.switcher {
  margin-bottom: 7px;
}
