/* Nav Bar */
#nav {
  background-color: black;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: "Orbitron", sans-serif;
}

a:-webkit-any-link {
  cursor: pointer;
  text-decoration: none;
}

.navButton {
  height: 40px;
  margin-right: 20px;
  border-radius: 8px;
  border-color: rgb(72, 254, 12);
  border-style: solid;
  border-width: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(72, 254, 12);
}

#logoMain {
  color: var(--green);
  font-size: 1.5rem;
  /* animation: flicker 4s infinite alternate; */
  font-size: 20px;
  width: 45%;
  display: flex;
  justify-content: flex-start;
}

#logoMain::-moz-selection {
  color: var(--neon-text-color);
}

#logoMain::selection {
  color: var(--neon-text-color);
}

#logoMain:focus {
  outline: none;
}

#logoMain:hover {
  cursor: pointer;
}

/* Animate neon flicker */
@keyframes flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: -0.2rem -0.2rem 1rem rgb(32, 255, 3),
      0.2rem 0.2rem 1rem rgb(7, 253, 27), 0 0 2rem var(--neon-text-color),
      0 0 4rem var(--neon-text-color), 0 0 6rem var(--neon-text-color),
      0 0 8rem var(--neon-text-color), 0 0 10rem var(--neon-text-color);
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

.nav-links {
  width: fit-content;
  width: 45%;
  display: flex;
  justify-content: flex-end;
}

.nav-links div {
  width: 100px;
}

.nav-links div:hover {
  cursor: pointer;
}
