/* Games Area */
#gamesArea {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#games-container {
  position: relative;
  width: 100%;
  height: 200%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}
/* Games */
.games {
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 900px;
  width: 95%;
  margin-bottom: 12px;
  border-radius: 10px;
  cursor: pointer;
  border: solid black 2px;
}
#snakeGame {
  margin-top:10px;
  font-family: "Press Start 2P", cursive;
  background-color: #69ff05;
  color: black;
}
#tetrisGame {
  font-family: "TetrisFont";
  background-color: #f3ff05;
  color: rgb(245, 147, 72);
}
#asteroidsGame {
  font-family: "AsteroidsFont";
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}
#pacboyGame {
  font-family: "PacboyFont";
  background-color: #0548ff;
  color: rgb(251, 255, 0);
}
