#userInfoArea{
    height:100%;
    width: 100%;
}
#userInfo-container{
    height:100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
/* Token Balence */
#tokenBalence-container{
    height:95%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(255, 251, 0);
    font-size: 3rem;
}
#tokenBalence-container h1,p{
    width: 100%;
    text-align: center;
}
/* Coin Slot */
#coinSlot-container{
    height:95%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(255, 251, 0);
    border: black solid 4px;
    border-radius: 6px;
}
#coinSlot-innercontainer{
    height:98%;
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(255, 251, 0);
    border: black solid 4px;
    border-radius: 4px;
}
#coinSlot{
    border-radius: 5px;
    background: black;
    width: 10%;
    margin-right: 3px;
    height: 98%;
}
#coinSlotWords-container{
    border-radius: 4px;
    background: black;
    width: 80%;
    height: 98%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.coinSlotWords{
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#coinSlotWords h1{
    width: 100%;
}
.coinSlotLines{
    width: 100%;
    height: 2px;
    background: rgb(255, 251, 0);
}