#userInfoArea{
    height:98%;
    width: 98%;
}
#userInfo-container{
    height:98%;
    width: 98%;
}
#userTokenBalence,#userAdress{
    display: flex;
    align-items: center;
    height: 40%;
}
#userTokenBalence h1,#userAdress h1{
    padding-right: 20px;
    font-size: 1.5rem;
  }
#userTokenBalence p,#userAdress p{
  font-size: 1.2rem;
}
/* Token Balence */
#userTokenBalence{
    display: flex;
}
/* User Adress */
#userAdress{
}