#currentGameArea{
    height:100%;
    width: 100%;
}
#currentGame-container{
    height: 100%;
    width: 100%;
}
.currentGameInfo{
    border-radius: 5px;
    height:100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 4rem;
    color: black;
}
.currentGameInfo h1{
    color: rgb(0, 255, 34);
    font-size: 5rem;
    margin-bottom: 20px;
}
.currentGameInfo p:nth-child(2){
    color: rgb(0, 255, 34);
    margin-bottom: 20px;
}
.currentGameInfo p:nth-child(3){
    color: rgb(0, 255, 34);
 margin-bottom: 20px;
}
/* Leader Boards */
#leaderBoard-container{
    width: 50%;
    height: 40%;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    border: rgb(0, 0, 0) solid 5px;
    background: rgb(134, 134, 134);
    border-radius: 10px;
}
#leaderBoard-container table,tbody{
    width: 100%;
    font-size:2rem;
    text-align: center;
}
#leaderBoard-container thead{
}
#leaderBoard-container  tr{

}
#leaderBoard-container th{
    padding-bottom: 10px;
    color: rgb(0, 255, 34);
}
#leaderBoard-container td{
    padding-bottom: 10px;
    color: black;

}
/* =================================================== */
/* Screens */

/* Home */
#currentGameInfoHome{
    background-color: rgb(0, 225, 255);
}
/* Snake */
#currentGameInfoSnake{
    background-color: rgb(0, 0, 0);
}

/* Tetris */
#currentGameInfoTetris{
    background-color: rgb(255, 145, 0);
}
/* Asteroids */
#currentGameInfoAsteroids{
    background-color: rgb(255, 255, 255);
}
/* PacBoy */
#currentGameInfoPacBoy{
    background-color: rgb(251, 255, 0);
}