#currentGameArea{
    height:100%;
    width: 100%;
}
#currentGame{
    height:100%;
    width: 100%;
}
#currentGameInfo{
    height:100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
#currentGameInfo h1{
    font-size: 8rem;
    padding-bottom: 50px;
    color: white;;
}
#currentGameInfo h4{
    font-size: 3rem;
}
#currentGameInfo p{
    font-size: 2.5rem;
}
#currentGameHighscore{
    height: 30%;
    text-align: center;
    padding-bottom: 30px;
}
#currentGameJackpot{
    height: 30%;
    text-align: center;
}