#currentGameArea{
    height:99%;
    width: 100%;
    /* border: rgb(255, 166, 0) solid 3px; */
    /* background-color: rgb(0, 0, 0); */
}
#currentGame-bigContainer{
    height:99%;
    width: 98%;
    /* border: rgb(4, 0, 255) solid 3px; */
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}
#currentGame{
    height:90%;
    width: 100%;
    margin: 0;
    /* border: rgb(115, 255, 0) solid 3px; */
}
#currentGameBackground1{
    border: rgb(104,57,255) solid 5px;
    border-radius: 5px;
    width: 100%;
    height:  100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
#currentGameBackground2{
    border-radius: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#currentGameBackground3{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: black  solid 2px;
    background-color: rgb(15,0,185);
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
#currentGameBackground4{
    border-radius: 5px;
    width: 100%;
    height: 99.3%;
    background-color: black;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
#currentGameBackground5{
    border-radius: 5px;
    width: 100%;
    height: 99%;
    background-color: rgb(11,56,46);
}
#currentGameInfo{
    height:99%;
    width: 99%;
    /* border: rgb(0, 0, 0) solid 3px; */
    flex-direction: column;
    justify-content: space-between;
}
#currentGameInfo h1{
    font-size: 8rem;
    padding-bottom: 50px;
    color: #05f7ff ;
}
#currentGameInfo h4{
    font-size: 3rem;
}
#currentGameInfo p{
    font-size: 2.5rem;
}
#currentGameHighscore{
    text-align: center;
    padding-bottom: 30px;
}
#currentGameJackpot{
    text-align: center;
}
/* Game Contols */
#gameControls-container{
    height: 9%;
    width: 100%;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top:10px;
}
/* Play Button */
#playBtn-container{
    position: relative;
    height: 100%;
    width: 20%;
    display: flex;
    border-radius: 5px;
    border: black solid 2px;
    -webkit-box-shadow: 0px 8px 0px rgb(68,29,191);
        -moz-box-shadow: 0px 8px 0px rgb(68,29,191);
        box-shadow: 0px 8px 0px rgb(68,29,191);
    transition: ease-in-out .5s;
}
#playBtn-container:hover{
    border: black solid 0px;
    -webkit-box-shadow: 0px 0px 0px rgb(68,29,191);
        -moz-box-shadow: 0px 0px 0px rgb(68,29,191);
        box-shadow: 0px 0px 0px rgb(68,29,191);
}
#innerPlayBtn-container{
    background-color: rgb(104,57,255);
    position: absolute;
    z-index: 2;
    width: 100%;
    height:  87%;
    border-radius: 5px;
    border-bottom: black solid 2px;
    transition: ease-in-out .5s;
}
#playBtn2{
    width: 100%;
    height: 100%;
    background-color: rgb(104,57,255);
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 2.5rem;
    font-family: "MainFont";
    cursor: pointer;
    transition: ease-in-out .5s;
}
.playBtn2ShadowDiv{
    position: absolute;
    bottom: 0;
    z-index: 1;
    height:20%;
    width: 100%;
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    background-color: rgb(68,29,191);
}
#playBtn2:hover{
    background-color: white;
    color: rgb(104,57,255);
}
#innerPlayBtn-container:hover{
    background-color: transparent;
    height:  100%;
}
/* Game Arrows */
#gameArrows{
    display: flex;
}
.controlIcons{
    margin: 10px;
    padding: 5px;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}
.controlIcons:active {
    background-color: black;
    color: black;
}
#upArrow{
    
}
#downArrow{

}
#leftArrow{

}
#rightArrow{

}