body{
    padding: 0;
    margin: 0;
}

#screen {
    width: 100vw;
    height: 680px;
    background-color: #63C603;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    position: relative;
}

#container {
    background-color: black;
}

#snakeStartTitle {
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    color: black;
    margin-top: -50px;

}

#snakeStartSub {
    margin-top: 10px;
    font-family: 'Mina', sans-serif;
}

#info {
    background-color: black;
    height: 100vh;
    color: white;
}

#startInfo {
    text-align: center;
}

#top {
    width: 100vw;
    float: left;
}

#score {
    float: right;
    margin-top: 40px;
    margin-right: 40px;
    font-family: 'Mina', sans-serif;
    font-size: 20px;
}

#playBtn {
    float: right;
    margin-right: 40px;
    margin-top: 30px;
    height: 40px;
    width: 80px;
    border-style: solid;
    border-radius: 6px;
    border-color: #5DE900;
    border-width: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #69ff05;
    font-family: 'Mina', sans-serif;
}

#playBtn:hover {
    cursor: pointer;
}

#title {
    float: left;
    margin-top: 40px;
    margin-left: 40px;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
}

#dot {
    float: left;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: white;
    margin-top: 43px;
    margin-left: 20px;
}

#jackpot {
    float: left;
    margin-top: 33px;
    margin-left: 20px;
    font-size: 20px;
    font-family: 'Mina', sans-serif;
    font-weight: 700px;
}

#highScore {
    float: left;
    margin-top: 33px;
    margin-left: 20px;
    font-size: 20px;
    font-family: 'Mina', sans-serif;
    font-weight: 700px;
}

#leaderBoardArea {
    float: left;
    margin-top: 60px;
    margin-left: 40px;
    margin-bottom: 40px;
}

#leaderBoardTitle {
    font-size: 20px;
    font-family: 'Mina', sans-serif;
    margin-bottom: 10px;
    margin-left: 5px;
}

#leaderBoard {
    max-width: 800px;
    width: 90vw;
    height: 400px;
    border-style: solid;
    border-color: white;
    background-color: white;
    border-radius: 12px;
}