body{
    padding: 0;
    margin: 0;
}

#screen {
    width: 100vw;
    height: 680px;
    background-color: #e9e9e9;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

#top {
    width: 100vw;
    float: left;
}

#playBtn {
    float: right;
    margin-right: 40px;
    margin-top: 30px;
    height: 40px;
    width: 80px;
    border-style: solid;
    border-radius: 6px;
    border-color: #5DE900;
    border-width: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
    font-family: 'Mina', sans-serif;
}

#playBtn:hover {
    cursor: pointer;
}

#title {
    float: left;
    margin-top: 40px;
    margin-left: 40px;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
}

#leaderBoardArea {
    float: left;
    margin-top: 60px;
    margin-left: 40px;
    margin-bottom: 40px;
}

#leaderBoardTitle {
    font-size: 20px;
    font-family: 'Mina', sans-serif;
    margin-bottom: 10px;
    margin-left: 5px;
}

#leaderBoard {
    max-width: 800px;
    width: 90vw;
    height: 400px;
    border-style: solid;
    border-color: black;
    border-radius: 12px;
}