/* Fonts */
@font-face {
    font-family: "MainFont";
    src: url("MainFont.ttf") format("truetype");
  }
@font-face {
    font-family: "TetrisFont";
    src: url("../Leftside/TetrisFont.ttf") format("truetype");
}
@font-face {
  font-family: "AsteroidsFont";
  src: url("../Leftside/AsteroidsFont.ttf") format("truetype");
}
@font-face {
    font-family: "PacboyFont";
    src: url("../Leftside/PacboyFont.ttf") format("truetype");
  }
#ThatNewNewPage{
    font-family: "MainFont";
    width: 100vw;
    height: 100vh;
    background-color: rgb(204, 193, 193);
    display: flex;
    color: white;
}
/* Left Side */
#leftsideDiv{
    background-color: black;
    width: 30%;
    height: 100%;
}   
/* Games Div*/
#theGamesDiv{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: rgb(178, 82, 247) solid 10px;
}
/* User Info Div */
#theUserInfoDiv{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: rgb(178, 82, 247) solid 10px;
}
/* Rightside */
#rightsideDiv{
    background-color: black;
    width: 70%;
    height: 100%;
}   
/* Current Game Div*/
#CurrentGameDiv{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: rgb(178, 82, 247) solid 10px;
}