:root {
    --green: rgb(72, 254, 12);
    --neon-text-color: rgb(0, 0, 0);
}

.homeArea {
    background-color: #000000;
    color: var(--green);
    /* font-family: 'Orbitron', sans-serif; */
    font-family: 'Mina', sans-serif;
    letter-spacing: 0.05em;
}

/* Hero */
.heroSection {
    height: 65vh;
    width: 100vw;
    background: url("https://thumbs.gfycat.com/DopeyHideousGelding-small.gif") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.heroSection img {
    height: 400px;
    width: 600px;
}

.hero {
    text-align: center;
}

#header {
    padding-top: 180px;
    font-size: 2.2rem;
}

#slogan {
    padding-top: 1rem;
    font-size: 1.2rem;
}

#search-bar {
    position: relative;
    top: 200px;
}

/* Game Section */
.game-container {
    background-color: black;
    height: 200vh;
    width: 100vw;
}

.games {
    display: block;
    margin: auto;
    text-align: center;
}

.games li {
    border-radius: 15%;
    background-color: gray;
    width: 20%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin: 20px;
}

.icon {
    padding: 20px;
}

.icon img {
    width: 100%;
    height: auto;
    border-radius: 20%;
}

/* Footer */
#footerHome {
    background-color: cyan;
    height: 30vh;
    width: 100vw;
}
