:root {
  --green: rgb(72, 254, 12);
  --neon-text-color: rgb(0, 0, 0);
}
/* margin: 25px 50px 75px;
top margin is 25px
right and left margins are 50px
bottom margin is 75px */
#homeArea {
  /* background: linear-gradient(0deg, rgb(29, 29, 29) 0%, black 25%); */
  color: var(--green);
  font-family: "Orbitron", sans-serif;
  letter-spacing: 0.05em;
  height: fit-content;
  width: 100vw;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  position: fixed;
  overflow-y: scroll;
  height: 100vh;
  width: 100vw;
}

/* Hero */
#heroSection {
  height: 70vh;
  width:100vw;
  display: flex;
  justify-content: center;
}

#heroSection img {
  height: 400px;
  width: 600px;
}

.hero {
  width: 80%;
  height: 90%;
  background: url(./games.gif) no-repeat center center fixed;
  text-align: center;
  color: black;
  font-size: 2.5rem;
  border-radius: 15px;
}
.hero h1 {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#search-bar {
  position: relative;
  top: 200px;
}

/* Game Section */
.game-container {
  background-color: transparent;
  height: fit-content;
  width: 100vw;
  padding-bottom: 200px;
  display: flex;
  justify-content: center;
}

.games {
  width: 83.5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.games li {
  border-radius: 15%;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  padding: 20px;
  width: 100%;
}
.gameButton:hover {
  cursor: pointer;
}
.snake-border {
  border-radius: 15%;
  border: solid 3px #98c502;
  margin: 20px;
}
#snake-game {
  background-color: rgb(152, 197, 2);
  color: black;
  border: solid 3px black;
}
.tetris-border {
  border-radius: 15%;
  border: solid 3px rgb(11, 11, 11);
  margin: 20px;
}
#tetris-game {
  background-color: rgb(11, 11, 11);
  color: rgb(248, 107, 20);
  border: solid 3px rgb(248, 107, 20);
}
.asteroids-border {
  border-radius: 15%;
  border: solid 3px black;
  margin: 20px;
}
#asteroids-game {
  background-color: black;
  color: white;
  border: solid 3px white;
}
.pacBoy-border {
  border-radius: 15%;
  border: solid 3px rgb(5, 50, 194);
  margin: 20px;
}
#pacBoy-game {
  background-color: rgb(5, 50, 194);
  border: solid 3px var(--green);
}

.icon {
  padding: 20px;
}
.icon {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  border-radius: 20%;
  width: 230px;
  height: 230px;
  object-fit: cover;
}
.snake-icon {
  background: url("https://image.winudf.com/v2/image/Y29tLnNuYWtlY29tcGFueS5zbmFrZWlvZ2FtZV9zY3JlZW5fMV9wcmU1c3c3YQ/screen-1.jpg?fakeurl=1&type=.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  border-radius: 20%;
  width: 230px;
  height: 230px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.tetris-icon {
  background: url("https://amp.thenationalnews.com/image/policy:1.1019785:1589539690/ac15-may-tetris.jpg?f=16x9&w=1200&$p$f$w=5f04803");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  border-radius: 20%;
  width: 230px;
  height: 230px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.asteroids-icon {
  background: url("https://images.saymedia-content.com/.image/t_share/MTc0MDE0OTk4MzEyMzk2NjY3/asteroids-by-atari-classic-video-games-reviewed.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  border-radius: 20%;
  width: 230px;
  height: 230px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.pacBoy-icon {
  background: url("https://miro.medium.com/max/2496/1*hCdywjP_Sg1zTyc_BbbpSg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  border-radius: 20%;
  width: 230px;
  height: 230px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.games img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  border-radius: 20%;
  width: 230px;
  height: 230px;
  object-fit: cover;
  opacity: 0;
}
.games img:hover {
  opacity: 1;
}
.icon img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  border-radius: 20%;
  width: 230px;
  height: 230px;
  object-fit: cover;
}
.icon:hover {
  background: url(./snake.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.icon:hover {
  cursor: pointer;
}
