:root {
  --green: rgb(72, 254, 12);
  --neon-text-color: rgb(0, 0, 0);
}
/* ========================================================== */
/* Footer */
.footerHome {
  background: rgb(29, 29, 29);
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Social Media Icons Container*/
.icons-container {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 10vh;
  padding-top: 50px;
  padding-bottom: 50px;
}
.icons {
  margin: 5px;
}
.icons i {
  width: 35px;
  height: 35px;
  font-size: 1.2rem;
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: black;
  color: rgb(98, 98, 98);
}
/* All Icons */
/* .fa-reddit {
    
}
.fa-twitter {
    
}
.fa-instagram {
    
}
.fa-youtube {
    
}
.fa-linkedin-in {
    
} */
/* .fa-apple {
    color: rgb(98, 98, 98);
}
.fa-google {
    color: rgb(98, 98, 98);
}
.fa-js {
    color: rgb(98, 98, 98);
}
.fa-github {
    color: rgb(98, 98, 98);
} */
/* Footer Info */
.footer-info {
  width: 65%;
}
.footer-info ul {
  display: flex;
  justify-content: space-evenly;
  justify-self: center;
  align-items: center;
  height: 10vh;
  list-style-type: none;
  color: rgb(98, 98, 98);
}
.footer-info ul a {
  color: rgb(98, 98, 98);
}
.support-title {
  color: rgb(98, 98, 98);
  font-size: 13px;
  padding-top: 10px;
}
.support-container {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 10vh;
}
.support-container i {
  font-size: 17px;
}
.copy-write {
  color: rgb(98, 98, 98);
  font-size: 15px;
}
