#leaderBoardScore {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-family: 'Mina', sans-serif;
    font-size: 20px;
    border-bottom-style: dashed;
    border-bottom-color: gray;
    border-bottom-width: 2px;
    margin-top: 15px;
}

.leftEl {
    margin-left: 30px;
}

.rightEl {
    margin-right: 30px;
}