:root {
    --green: rgb(72, 254, 12);
    --neon-text-color: rgb(0, 0, 0);
}
#accountArea {
    color: var(--green);
    font-family: "Orbitron", sans-serif;
    letter-spacing: 0.05em;
    height: fit-content;
    width: 100vw;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    position: fixed;
    overflow-y: scroll;
    height: 100vh;
    width: 100vw;
}
a:-webkit-any-link {
    cursor: pointer;
    text-decoration: none;
}
#accountLogo::-moz-selection {
    color: var(--neon-text-color);
}
#accountLogo::selection {
    color: var(--neon-text-color);
}
#accountLogo:focus {
    outline: none;
}
#accountLogo:hover {
    cursor: pointer;
}
/* Animate neon flicker */
@keyframes flicker {
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
        text-shadow: -0.2rem -0.2rem 1rem rgb(32, 255, 3),
            0.2rem 0.2rem 1rem rgb(7, 253, 27), 0 0 2rem var(--neon-text-color),
            0 0 4rem var(--neon-text-color), 0 0 6rem var(--neon-text-color),
            0 0 8rem var(--neon-text-color), 0 0 10rem var(--neon-text-color);
    }

    20%,
    24%,
    55% {
        text-shadow: none;
    }
}
/* both containers */
.containerAccount {
    min-height: 50vh;
    margin-top: 100px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* left container */
.left-container {
    padding-bottom: 15px;
    text-align: center;
    width: 20%;
    background: rgb(0, 0, 0);
    border: solid white 2px;
}
.QR-code img {
    width: 85%;
    height: 85%;
    padding: 20px 0px 0px 0px;
    /* top right bottom left */
}
.username,
.QR-code,
.btn {
    text-align: center;
}
.username {
    font-size: 1.5rem;
    padding-top: 15px;
    text-decoration: underline;
}
.btn button {
    font-family: 'Mina', sans-serif;
    font-size: 1rem;
    cursor: pointer;
    width: 99px;
}
/* right container */
.right-container {
    padding-bottom: 15px;
    margin-left: 5px;
    width: 60%;
    background: rgb(0, 0, 0);
    border: solid white 2px;
}
/* Style the tab */
.tab-container {
    margin: 10px;
    overflow-y: auto;
    max-height: 47vh;
    -ms-overflow-style: none !important;
}
.tab-container::-webkit-scrollbar {
    display: none;
}
.tab {
    position: sticky;
    top: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #000000;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-family: 'Mina', sans-serif;
    color: var(--green);
}

/* Change background color of buttons on hover */
.tab button:hover {
    color: black;
    background-color: white;
}

/* Create an active/current tablink class */
.tab button.active {
    color: black;
    background-color: white;
}

/* Style the tab content */

.tabcontent1 {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.table {
}
.tabcontent2 {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
.balance {
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.transactions-body ul{
    width: 100%;
    display: flex;
}
.all-trans-container{
    width: 100%;
    border-bottom: solid rgba(255, 255, 255, 0.74) 5px;
    height: fit-content;
}
.all-trans-container li{
    padding: 10px;
    min-height:30px;
}
.trans-date-container{
    width: 50%;
}
.trans-date-container li{
 padding: 10px;
}
.amount{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
/* Media Queries */
/* Portrait and Landscape */
@media only screen and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    #root {
        margin-top: 0px;
    }
    /* both containers */
    .containerAccount {
        margin-top: 30px;
        flex-direction: column;
        align-items: center;
    }
    /* left container */
    .left-container {
        width: 80%;
    }
    .QR-code img {
        width: 60%;
        padding: 10px 0px 0px 0px;
        /* top right bottom left */
    }
    .username {
        font-size: 1.8rem;
    }
    .btn button {
        width: 60%;
    }
    .send {
        margin-bottom: 10px;
    }
    /* right container */
    .right-container {
        margin-top: 5px;
        margin-left: 0px;
        width: 80%;
    }
    /* Style the tab */
    .tab {
        display: flex;
        justify-content: center;
    }
    .tablinks {
        width: 50%;
    }
    .tab button {
        padding: 10px;
    }
    /* Style the tab content */

    .tabcontent1 {
        width: 100%;
        padding: 14px 12px;
    }
    .table {
        font-size: 0.8rem;
        padding: 0px;
    }

}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    
}


/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}
