/* #gameCanvas {
    width: 100vw;
    height: 90vh;
} */

#asteroidsGameArea {
    width: 100vw;
    height: 570px;
    display: flex;
    justify-content: center;
    background-color: gray;
    position: relative;
}

#asteroidsCanvas {
    width: 100vw;
    max-width: 760px;
}

#titleAsteroids {
    float: left;
    margin-top: 40px;
    margin-left: 40px;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    color: #efefef;
}

#asteroidsPlayBtn {
    position: absolute;
    z-index: 100;
    bottom: -65px;
    right: 60px;
    height: 40px;
    width: 80px;
    border-style: solid;
    border-radius: 6px;
    border-color: gray;
    border-width: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #efefef;
    font-family: 'Mina', sans-serif;
}

#asteroidsPlayBtn:hover {
    cursor: pointer;
}

#asteroidsScore {
    position: absolute;
    bottom: -65px;
    right: 185px;
    font-family: 'Mina', sans-serif;
    font-size: 20px;
    color: white;

}

.dotAsteroids {
    float: left;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: gray;
    margin-top: 43px;
    margin-left: 20px;
}

@media only screen and (max-width: 1100px) {  
    .dotAsteroids {
        display: none;
    }    
}