/* #gameCanvas {
    width: 100vw;
    height: 90vh;
} */

#asteroidsGameArea {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
    position: relative;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

#asteroidsCanvas {
    width: 100%;
}

#titleAsteroids {
    float: left;
    margin-top: 40px;
    margin-left: 40px;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    color: #efefef;
}

#asteroidsPlayBtn {
    position: absolute;
    z-index: 100;
    bottom: -65px;
    right: 60px;
    height: 40px;
    width: 80px;
    border-style: solid;
    border-radius: 6px;
    border-color: gray;
    border-width: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #efefef;
    font-family: 'Mina', sans-serif;
}

#asteroidsPlayBtn:hover {
    cursor: pointer;
}

#asteroidsScore {
    position: absolute;
    bottom: -65px;
    right: 175px;
    font-family: 'Mina', sans-serif;
    font-size: 20px;
    color: white;
}

#asteroidsLevel {
    position: absolute;
    bottom: -65px;
    right: 300px;
    font-family: 'Mina', sans-serif;
    font-size: 20px;
    color: white;
}

.dotAsteroids {
    float: left;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: gray;
    margin-top: 43px;
    margin-left: 20px;
}

#instructionsAsteroids {
    max-width: 90vw;
    margin-left: 90px;
    margin-bottom: 40px;
    margin-right: 50px;
    font-family: 'Mina', sans-serif;
    font-size: 20px;
    color: white;
}

@media only screen and (max-width: 1300px) {  

    #instructionsAsteroids {
        margin-left: 40px;
        margin-bottom: 40px;
    }
}

@media only screen and (max-width: 1100px) {  
    .dotAsteroids {
        display: none;
    }    
}